@font-face {
  font-family: "Italianno";
  src: url('fonts/Italianno-Regular.ttf');
}

body {
	background: grey;
}

h4,h1 {
  font-family: "Italianno", Arial, serif;
}

.wrap {
  position: relative;
  align-items: stretch;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
}

/* carré bouton croix */
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

/* croix */
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

/* animation bouton croix*/
#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}



/*
    STYLE MENU
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: black; /* slidebar menu background */
    color: white;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: blue; /* background en-tête menu bar */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid goldenrod;
}

#sidebar ul p {
    color: green; /* id compte */
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: brown; /* home button background menu bar */
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: red /* menu déroulant background */;
}


/* Overlays settings */

.persisting-overlay {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  right: 12px;
  opacity: 0;
  transition: .5s ease;
  background-color: #666633;
  z-index: 10;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*
    FIN STYLE MENU
*/