<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>

	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<!-- our stuff -->
	<script>
		const isLoggedIn = <%= isLoggedIn %>;
		const isAdmin = <%= isAdmin %>;
		const isDelivery = <%= isDelivery %>;
	</script>

	<script type="text/javascript" src="/js/homeDesign.js"></script>
	<script type="text/javascript" src="/js/cartLogic.js"></script>
	<script type="text/javascript" src="/js/initHomePage.js"></script>
	<script type="text/javascript" src="/js/authLogic.js"></script>
	<script type="text/javascript" src="/js/customPizzaLogic.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/home.css">

</head>

<body>

	<div class="wrapper">

		<!-- Sidebar -->
		<nav id="sidebar" class="col-md-2">

			<div class="sidebar-header">
				<h3>Mon espace</h3>
			</div>

			<ul class="list-unstyled components">
				<li>
					<a id="nav-admin" href="/manage/admin">Panneau admin</a>
					<a id="nav-delivery" href="/delivery/next">Panneau livraison</a>
				</li>
				<li class="active"> 
						<li>
							<a id="login-logout" href="/api/auth/logout">Déconnexion</a>
						</li>
						<li>
							<form id="login-login" action="/api/auth/login" method="post" class="signin-form">
								<h1>Connexion</h1>

								<input class="form-control" id="login-username" type="username" name="username" value="username" class="signin-username" />
								<input class="form-control" id="login-password" type="password" name="password" value="password" class="signin-password" />

								<input class="btn btn-success" type="button" onclick="login()" value="Se connecter">
							</form>
						</li>
						<li>
							<form id="login-register" method="post" class="signin-form">
								<h1>Inscription</h1>

								<input class="form-control" id="register-username" type="username" name="username" value="username" class="signin-username" />
								<input class="form-control" id="register-email" type="email" name="email" value="email" class="signin-username" />
								<input class="form-control" id="register-password" type="password" name="password" value="password" class="signin-password" />

								<input class="btn btn-success" type="button" onclick="register()" value="S'inscrire">
							</form>
						</li>
				</li>

				<li>
				</li>
				<li>
					<a href="#" class="btn btn-warning" onclick="clearCart()">Clear cart</a>
				</li>
				<li>
					<label>Heure de livraison :<label><input id="delivery_date" type="datetime-local" name="dn">
				</li>
				<li>
					<a href="#" class="dummy-link btn btn-primary" onclick="saveCart()">save cart</a>
				</li>
			</ul>
			<div id="cart">
				
			</div>
		</nav>

		<button type="button" id="sidebarCollapse" class="navbar-btn">
			<span></span>
			<span></span>
			<span></span>
		</button>


		<div id="content" class="col-md-10">

			<header>
				<h1 class="text-center">La page d'accueil oui bonjour</h1>
			</header>

			<div id="appetizers" class="container">
				<h4>Les entrées</h4>

				<div id="appetizers_list" class="row">
					<p id="no_appetizers" class="text-center">Aucun élément de ce type</p>

					<div id="appetizers_template" class="col-md-3 wrap">
						<img src="" class="img-fluid rounded" title="" id="image">
						<div class="overlay">
							<div class="text">
								<div id="name">Name</div>
								<div id="price">1€</div>
								<br/>
								<select id="sauces">
								</select>
								<input type="button" class="btn btn-primary" value="Ajouter" onclick="addItem($(this))"/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="pizzas" class="container">
				<h4>Les pizzas</h4>
				<div id="pizzas_list" class="row">
					<p id="no_pizzas" class="text-center">Aucun élément de ce type</p>

					<div id="pizzas_template" class="col-md-3 wrap">
						<img src="" class="img-fluid rounded" title="" id="image">
						<div class="overlay">
							<div class="text">
								<div id="name">Name</div>
								<br />
								<div id="price">1€</div>
								<input type="button" class="btn btn-primary" value="Ajouter" onclick="addItem($(this))"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="wrap col-md-12">
						<a href="" class="dummy-link"><img src="images/pizzas/custom.png" class="rounded img-fluid"
								id="custom-pizza"></a>
						<div class="persisting-overlay">
							<h4>Veuillez sélectionner vos ingrédients</h4>
							<form>
								<div id="ingredient-list">
									<div id="ingredient-template">
										<select id="ingredient-template-select">
											<option value="" disabled selected>Veuillez sélectionner un ingrédient:</option>
										</select>
									</div>
								</div>

								<br />
								<input class="btn btn-primary" type="button" onclick="sendCustom()" value="Valider"/>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div id="drinks" class="container">
				<h4>Les boissons</h4>
				<div id="drinks_list" class="row">
					<p id="no_drinks" class="text-center">Aucun élément de ce type</p>

					<div id="drink_template" class="col-md-3 wrap">
						<img id="image" src="" class="img-fluid rounded" title="" id="">
						<div class="overlay">
							<div class="text">
								<div id="name">Name</div>
								<br />
								<div id="price">1€</div>
								<input type="button" class="btn btn-primary" value="Ajouter" onclick="addItem($(this))"/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="desserts" class="container">
				<h4>Les desserts</h4>
				<div id="desserts_list" class="row">
					<p id="no_desserts" class="text-center">Aucun élément de ce type</p>

					<div id="dessert_template" class="col-md-3 wrap">
						<img src="" class="img-fluid rounded" title="" id="image">
						<div class="overlay">
							<div class="text">
								<div id="name">Name</div>
								<br />
								<div id="price">1€</div>
								<input type="button" class="btn btn-primary" value="Ajouter" onclick="addItem($(this))"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>

	<footer>
		<p class="text-center">Copyrights© 2022 - Hugo Jacotot & Matthieu Le Franc</p>
	</footer>

</body>

</html>