<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Liste des ingrédients</title>

	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<!-- Our stuff -->
	<script type="text/javascript" src="/js/initAdminPage.js"></script>
</head>

<body>

	<h4>Ingredients</h4>
	<form method="POST" action="/api/products/update_ingredients">
		<div id="boxes">
			<div id="ingredient_template" hidden>
				<input id="input" type="checkbox" name="" />
				<label id="label" for=""></label>
			</div>
		</div>

		<input type="submit" name="send" value="send">
	</form>

</body>

</html>